.topView * {
    font-family: "Henny Penny";
}

.normalShadow {
    box-shadow: 0 3px 3px rgba(0,0,0,0.5)
}

.viewTitle {
  font-weight: bold;
  font-size: 28px;
}

.smallText {
  font-size: 12px;
}

#timerLabel {
  font-weight: bold;
  font-size: 28px;
}

#menuView {
  background-image: url(puzzlebackgroundblur.png);
}

#menuView * {
  font-family: "Henny Penny";
}

#gameBoardSuperView * {
  font-family: "Henny Penny";
}

#boardContainer {
  border-width: 2px;
  border-radius: 3px;
  border-color: #FF333;
}

#titleButton {
  font-weight: bold;
  font-size: 26px;
}

#showOriginalButton {
  font-weight: bold;
  font-size: 20px;
}

#guessMeTextField {
  font-size: 22px;
}

#newButton {
  font-weight: bold;
  font-size: 26px;
}

#homeButton {
  font-weight: bold;
  font-size: 26px;
}

#emotionLabel {
  font-weight: bold;
  font-size: 24px;
}

#calibrateButton {
  font-weight: bold;
  font-size: 26px;
}

#messageLabel {
  font-weight: bold;
  font-size: 52px;
}

#instructionsLabel {
  font-weight: bold;
  font-size: 15px;
}


